@model IEnumerable<Amin.Data.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Users Management</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create new user</a>
</p>
<table class="table table-responsive-md">
    <thead>
        <tr>
            <th>
                <p>Full Name</p>
            </th>
            <th>
                <p>Age</p>
            </th>
            <th>
                <p>Year Of Birth</p>
            </th>
            <th>
               <p>Address</p> 
            </th>
            <th>
               <p>Gender</p> 
            </th>
            <th>
                <p>BMI</p>
            </th>
            <th>
                <p>Smoking Status</p>
            </th>
            <th>
                <p>Alcoholic Status</p>
            </th>
            <th>
                <p>Username</p>
            </th>
            <th>
                <p>Password</p>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (item.Gender==1){<p>Nam</p>}
                else{<p>Nữ</p>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bmi)
            </td>
            <td>
                @if (item.SmokingStatus == false)
                {
                    <p>Không sử dụng</p>
                }
                else
                {
                    <p>Có sử dụng</p>
                }
            </td>
            <td>
                @if (item.AlcoholicStatus == false)
                {
                    <p>Không sử dụng</p>
                }
                else
                {
                    <p>Có sử dụng</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
