@model Amin.Data.PatientInformation

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PatientInformation</h4>
    <hr />
    <dl class="row">
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SleepTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SleepTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WakeTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WakeTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalActivityDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalActivityDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaffeineIntake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaffeineIntake)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecordId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
