@model IEnumerable<Amin.Data.PatientInformation>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Patient Information</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        @if (item.User.FullName != null)
                        {
                            @Html.DisplayFor(modelItem => item.User.FullName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.User.Username)
                        }
                    </h5>
                    <p class="card-text"><strong>Date:</strong> @Html.DisplayFor(modelItem => item.Date)</p>
                    <p class="card-text"><strong>Sleep Time:</strong> @Html.DisplayFor(modelItem => item.SleepTime)</p>
                    <p class="card-text"><strong>Wake Time:</strong> @Html.DisplayFor(modelItem => item.WakeTime)</p>
                    <p class="card-text"><strong>Physical Activity Duration:</strong> @Html.DisplayFor(modelItem => item.PhysicalActivityDuration)</p>
                    <p class="card-text"><strong>Caffeine Intake:</strong> @Html.DisplayFor(modelItem => item.CaffeineIntake)</p>
                    <div class="mt-3">
                        <a asp-action="Edit" asp-route-id="@item.RecordId" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.RecordId" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.RecordId" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
