@model IEnumerable<Amin.Data.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Notifications Management</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendDay)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.NotificateId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.NotificateId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NotificateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
